.main-text__h2{
    font-family: Yanone Kaffeesatz, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    color: black;
    letter-spacing: 0.06em;
    margin-bottom: 19px;
}
