.main-text__24black{
    font-family: Yanone Kaffeesatz, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #000000;
    margin-top: 82px;
    margin-bottom: 111px;
    text-align: center;
}

.main-text__24black_light{
    color: #E7820C;
}


